@model IEnumerable<Pet>

@{
    ViewBag.Title = "Pet Search";
}

<h2 id="SearchLabel">Find your perfect pet</h2>
<div id="SearchDiv">
    <form id="formGet" method="get" asp-action="GetPets" asp-controller="Home" asp-anti-forgery="true">
        <div class="TypeChoose">
            <input id="All" name="Type" type="radio" value="All" />
            <label id="AllLabel" for="All">All</label> <br />
            <input id="Cat" name="Type" type="radio" value="Cat" />
            <label id="CatLabel" for="Cat">Cat</label><br />
            <input id="Dog" name="Type" type="radio" value="Dog" />
            <label id="DogLabel" for="Dog">Dog</label><br />
            <input id="Other" name="Type" type="radio" value="Other" />
            <label id="OtherLabel" for="Other">Other</label><br />
        </div>
        <div class="GenderChoose">
            <input id="AllGenders" name="Gender" type="radio" value="All" />
            <label id="AllGendersLabel" for="AllGenders">All</label> <br />
            <input id="Boy" name="Gender" type="radio" value="Boy" />
            <label id="BoyLabel" for="Gender">Boy</label> <br />
            <input id="Girl" name="Gender" type="radio" value="Girl" />
            <label id="GirlLabel" for="Girl">Girl</label> <br />
        </div>
        <div class="TownChoose">
            <label id="town" name="Town">Enter city:</label>
            <br />
            <input id="townInput" name="Town" />
            <br />
            <input id="SearchBtn" type="image" src="~/images/lapka5.png" value="Search" />
        </div>
    </form>
</div>
<div id="Foreach">
    @foreach (var pet in Model)
    {
        @if (pet.IsPicked == false)
        {
    <div class="PetContainer">
        @if (pet.Avatar == null)
        {
            if (pet.PetType == PetTypes.Cat)
            {
                <a href="PetInfo?id=@pet.Id"><img id="AvatarImage" src="~/images/uncat.png" /></a>
            }
            if (pet.PetType == PetTypes.Dog)
            {
                <a href="PetInfo?id=@pet.Id"><img id="AvatarImage" src="~/images/undog.png" /></a>
            }
            if (pet.PetType == PetTypes.Other)
            {
                <a href="PetInfo?id=@pet.Id"><img id="AvatarImage" src="~/images/unrab.png" /></a>
            }
        }
        else
        {
            <a href="PetInfo?id=@pet.Id"><img id="AvatarImage" src="data:image/jpeg;base64,@(Convert.ToBase64String(pet.Avatar))" /></a>
        }
            <a href="PetInfo"><p id="PetName">@pet.Name</p></a>
            <p id="PetGenderTown">@pet.Gender / @pet.Town</p>
        </div>
        }
    }
</div>

