@model IEnumerable<Pet>

@{
    ViewBag.Title = "My Pets";
}

<div id="MyPetsDiv" asp-anti-forgery="true">
    @foreach (var pet in Model)
    {
        if (pet.IsPicked == false)
        {
    <div class="MyPetsWindow">
        @if (pet.Avatar == null)
        {
            if (pet.PetType == PetTypes.Cat)
            {
                <a href="PetInfo?id=@pet.Id"><img id="MyPetsAvatar" src="~/images/uncat.png" /></a>
            }
            if (pet.PetType == PetTypes.Dog)
            {
                <a href="PetInfo?id=@pet.Id"><img id="MyPetsAvatar" src="~/images/undog.png" /></a>
            }
            if (pet.PetType == PetTypes.Other)
            {
                <a href="PetInfo?id=@pet.Id"><img id="MyPetsAvatar" src="~/images/unrab.png" /></a>
            }
        }
        else
        {
            <a href="PetInfo?id=@pet.Id"><img id="MyPetsAvatar" src="data:image/jpeg;base64,@(Convert.ToBase64String(pet.Avatar))" /></a>
        }
        <a href="PetInfo?id=@pet.Id"><p id="MyPetsName">@pet.Name</p></a>
        <p id="MyPetsGenderTown">@pet.Gender / @pet.Town</p>
        <a href="MyPetsRemove?id=@pet.Id"><img id="MyPetsRemove" src="~/images/heart.png" title="Adopted"/></a>
        <a href="MyPetsDelete?id=@pet.Id"><img id="MyPetsDelete" src="~/images/rubbish.png" title="Delete"/></a>
    </div>
        }
    }
</div>